/* Remplir les styles CSS du projet */

/* Import via Google font de la police 'Lato' (police sans empattement) à partir du site de Google Fonts. */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Import via '@font-face' de la police 'Raleway' (police sans empattement) à partir du site de Google Fonts */
@font-face {
    font-family: "Raleway";
    src: url('../fonts/Raleway-VariableFont.woff') format('woff');
    src: url('../fonts/Raleway-VariableFont_wght.ttf') format('truetype'),
        url('../fonts/Raleway-Italic-VariableFont_wght.ttf') format('truetype');
}

/* Utilisation de la police 'Lato' pour les titres de la page */
h1, h2, h3 {
    font-family: 'Lato', sans-serif; 
}

/* Utilisation de la police 'Raleway' pour les contenus de la page */
p, a {
    font-family: "Raleway", sans-serif;
}

/* Disposition des conteneurs en utilisant la technologie 'flexbox' */

/* disposition du bandeau 'identity' en colonne, centré verticalement et horizontalement */
.identity {
    background-color: #782221;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0 1em 0;
}

/* dimension de la photo d'identité */
.identity__photo {
    width: 150px;
    height: 150px;
    padding-top: 1em;
}
.identity__photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 0.6em 0.3em #dbc2a4;
}

/* Texte du nom de l'identité en lettres capitales */
.identity__name {
    text-transform: uppercase;
}

/* disposition du bandeau 'contact' en ligne */
.contact {
    background-color: #2c1d27;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em 3em 1.5em 3em;
}

/* gestion du style des liens dynamiques de 'contact' */
.contact a {
    text-decoration: none;
    color: white;
}

/* disposition du bandeau 'CV-description' en ligne */
.CV-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2em;
}

/* conteneur 'generalness */
.generalness {
    background-color: #782221;
    color: white;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2em;
    padding-right: 3em;
}

/* gestion des titres du conteneur 'generalness' */
.generalness h2 {
   background-color: #dbc2a4;
   color: black;
   padding: 0.1em 1em 0.1em 1em;
}

/* gestion du paragraphe du conteneur 'generalness__about' */
.generalness__about p {
    padding-inline-start: 1.5em;
    text-indent: 3em; 
    text-align: justify;
    padding-inline-end: 1em;
}

/* conteneur 'professional' */
.professional {
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 2em;
    padding-right: 1em;
}

/* gestion des titres du conteneur 'professional' */
.professional h2 {
    background-color: #dbc2a4;
    color: black;
    border-left: 0.3em solid #782221;
    padding: 0.1em 0.3em 0.1em 0.3em;
}

/* disposition du bandeau 'CV-network' en ligne */
.CV-network {
    background-color: #782221;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
    padding: 1em 0 0.5em 0;
}

/* début : disposition des icônes des liens pro */
.CV-network__icone {
    width: 2.5em;
    height: 2.5em;
}

.CV-network__icone img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* fin : disposition des icônes des liens pro*/

/* disposition du bandeau 'copyright' */
.copyright {
    background-color: #782221;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    padding: 1em 0 1em 0;
}

/* début : gestion des logos des validateurs */
.copyright__validator {
    padding-left: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
}
/* fin : gestion des logos des validateurs */

/* début : gestion des droits à l'images (graphiste) des icônes téléchargées gratuitement */
.copyright__icones {
    padding-right: 1em;
    display: flex;
    flex-direction: column;
    text-align: right;
}

.copyright__icones a {
    color: black;
}
/* fin : gestion des droits à l'images (graphiste) des icônes téléchargées gratuitement */

/* début : dimensionnement de la page et de ses conteneurs */
html {
    box-sizing: border-box;
}

/* *,
*::before,
*::after {
    box-sizing: inherit;
} */

body {
    box-sizing: inherit;
    width: 1160px;
    margin: auto;
    border-right: 3px solid #2c1d27;
}
/* fin : dimensionnement de la page et de ses conteneurs */

/* début : retrait des marges inutiles */
p {
    margin: 0;
}
/* début : retrait des marges inutiles */